<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oakonell.dndcharacter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:name=".DndCharacterApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".views.characters.CharactersListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.background.BackgroundsListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.race.RacesListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.classes.ClassesListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.item.ItemsListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.effect.EffectsListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.feat.FeatsListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.spell.SpellsListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.character.CharacterActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.imports.ImportActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\_dnd.xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:pathPattern=".*\\_dnd.xml" />
                <!--                <data android:host="*" />
                -->
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <!-- for google drive -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="text/xml" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <!-- for email -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.exports.ExportActivity"
            android:label="@string/app_name" />

        <meta-data
            android:name="AA_MODELS"
            android:value="com.oakonell.dndcharacter.model.background.Background, com.oakonell.dndcharacter.model.classes.AClass, com.oakonell.dndcharacter.model.item.ItemRow, com.oakonell.dndcharacter.model.race.Race, com.oakonell.dndcharacter.model.character.CharacterRow, com.oakonell.dndcharacter.model.effect.Effect, com.oakonell.dndcharacter.model.spell.Spell, com.oakonell.dndcharacter.model.spell.SpellClass, com.oakonell.dndcharacter.model.feat.Feat" />
        <meta-data
            android:name="AA_DB_NAME"
            android:value="character.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="12" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.oakonell.dndcharacter.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="com.oakonell.dndcharacter.model.DnDContentProvider"
            android:authorities="com.oakonell.dndcharacter"
            android:exported="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="74ae3579d71c997859cbe007cec110297e81aa2a" />
    </application>

</manifest>
